
$background: #fffffe;
$stroke: #094067;
$highlight: #3da9fc;
$secondary: #90b4ce;
$tertiary: #ef4565;
$heading: #094067;
$paragraph: #5f6c7b;
$button: $highlight;
$button-text: $heading;


body {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans HK', sans-serif;

    #root {
        width: 100vw; min-height: 100vh;
        background-color: $background;
        margin: 0; padding: 0;

        .body {
            margin: 0 8em; padding: 2em;

            .flex-box {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 1em;
                flex-wrap: wrap;

                > div {
                    display: flex; flex-direction: row;
                    align-items: center;

                    input[type='checkbox'] {
                        margin-left: 3em !important;
                    }

                    p {
                        margin: 0 1em 0 0;
                    }
                }

                .loading {
                    svg {
                        color: $tertiary;
                    }
                }

                .loaded {
                    svg {
                        color: $highlight;
                    }
                }
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $heading;
    margin-bottom: 1em;
    margin-top: 2em;
}

p, label {
    color: $paragraph;
}

a {
    color: $tertiary
}

input[type='checkbox'] {
    width: 12px !important;
    height: 12px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: 2px solid $highlight;
    outline-offset: 2px;
    box-shadow: none;
    margin: 0;
}

input[type="checkbox"]:checked {
    background-color: $highlight
}

input[type="checkbox"]:disabled {
    outline-color: lightgrey;
}

input[type="checkbox"]:disabled:checked {
    background-color: lightgrey;
}

.card {
    border: 2px solid $stroke;
    border-radius: 5px;
    padding: 0.75rem 1.75rem;
    margin-bottom: 1.5em;

    .card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px dotted $stroke;
    }

    .card-body {
        margin: 1em 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a {
            svg {
                margin-left: 1rem;
            }
        }

        .read-saved {
            display: flex; align-items: flex-end;
            flex-direction: column;

            input[type="checkbox"] {
                margin-left: 2em !important;
            }
        }
    }
}

@media screen and ( max-width: 1100px ) {
    .body {
        margin: 0 1em !important;
        
        .flex-box {
            justify-content: left;

            > div {
                min-width: 400px;
                padding-bottom: 0.5em;
            }
        }

    }


}

@media screen and ( max-width: 600px ) {
    .body {
        margin: 0 !important;
    }
}